.iconAndInfo {
    display: flex;
    align-items: center;
}

.iconAndInfo > svg {
    padding-right: 1rem;
}

@media screen and (max-width: 1026px) {
    .iconAndInfo > svg {
        font-size: 25px;
    }

    .iconAndInfo > span {
        font-size: 13.33px;
    }
}

@media screen and (max-width: 768px) {
    .iconAndInfo > svg {
        font-size: 30px;
    }

    .iconAndInfo > span {
        font-size: 16px;
    }
  }